
<div id="container">
<div id="title">
  Here is the informations you're looking for:
</div>
<div><%= @name %></div>
<div><%= @species %></div>
<div><%= @gender %></div>
<div><%= @origin %></div>

</div>

</div>
